# Gradle files
.gradle/
build/

# claude files
.claude/

# IDE files
*.iml
.idea/
*.ipr
*.iws

# Android Studio / Local files
local.properties
.kotlin
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex

# Testing / Profiling
/testResults/
*.hprof

# OS files
.DS_Store
Thumbs.db

# Kotlin / Java
*.pyc
*.class
